h1 {
    color: mediumpurple;
    font-size: 50px;
    font-family: Hanging Letters;
}

h2 {
    font-size: 30px;
    font-family: emizfont;
}

p1 {
    clear: both;
    text-align: center;
    display: block;
}

.mood {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: block;
    padding: 10px 20px;
    font-weight: 300px;
    font-family: sans-serif;
    background-color: aliceblue;
    text-decoration: none;
    text-align: center;
    border-radius: 200px;
}
