h1 {
    color: #808080;
    font-size: 560%;
    font-family: serif;
    text-align: center;
    text-decoration: none;
    line-height: 0%;
    padding: 0;
    margin-bottom: 0;
}

h2 {
    padding-left: 2%;
    font-size: 125%;
    font-family: Poiret One;
    color: #616161;
    padding-top: 0;
    margin-top: 2%;
    margin-bottom: 10%;
    text-align: center;
    text-decoration: none;
}

p1 {
    clear: both;
    text-align: center;
    display: block;
}

p {
    margin: 0;
    line-height: normal;
    float: right;
}

.mood {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: block;
    padding: 10px 20px;
    font-weight: 300px;
    font-family: sans-serif;
    background-color: aliceblue;
    text-decoration: none;
    text-align: center;
    border-radius: 200px;
    
}

.look-button {
    display: block;
    text-align: right;
    padding: 10px 20px;
    font-weight: 300px;
    font-family: Poiret One; 
    background-color: grey;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}
/* want it to animate once on screen (like wave of opacity) and be able to swipe it to get to the linked page */
/* also want to do this somehow https://css-tricks.com/slide-in-as-you-scroll-down-boxes/ */

.endofpage {
    font-family: Poiret One;
    text-align: center;
    font-size: 25px;
    color: #616161;
}

.row {
    align-items: center;
}

Result
EDIT ON
 * {
  box-sizing: border-box;
}

.logo {
    align-content: center;
    width: 9%;
    padding-bottom: 0;
    padding-left: 10px;
}

.smol {
    font-size: 66%;
}

.consignment {
    font-size: 450%;
}

.consign-logo {
    align-content: center;
    width: 7%;
    padding-bottom: 0;
    padding-left: 10px;
}

form {
    align-content: center;
    font-family: Poiret One;
    padding-left: 40%;
}